.containerCard{
    width: 220px;
    height: 300px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;


    background-image: url("../../../public/Background-poke.webp");
    background-attachment: fixed;
    background-position: 50%;

    border-radius: 31px 31px 31px 31px;
-moz-border-radius: 31px 31px 31px 31px;
-webkit-border-radius: 31px 31px 31px 31px;
border: 0px solid #009dff;

-webkit-box-shadow: 10px 10px 14px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px -2px rgba(0,0,0,0.75);
box-shadow: 10px 10px 14px -2px rgba(0,0,0,0.75);


}

.tituloCarta{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;

    background: rgb(65,63,97);
    background: linear-gradient(90deg, rgba(65,63,97,0.8465511204481793) 0%, rgba(138,44,108,0.8689600840336135) 50%, rgba(10,122,145,0.8409488795518207) 100%);

    border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
}


.imagenPoke{
    width: 200px;
    display: flex;
    justify-content: center;
}
.containerTypes{
    background: rgb(65,63,97);
    background: linear-gradient(90deg, rgba(65,63,97,0.8465511204481793) 0%, rgba(138,44,108,0.8689600840336135) 50%, rgba(10,122,145,0.8409488795518207) 100%);
    width: 100%;
    padding-bottom: 10px;
    border-radius: 25px;
    }

.ul-types{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 5px;
    padding: 0px;
    text-align: center;
}
.ul-types>li{
    margin-top: 10px;
    padding: 5px;
    color: white;
    min-width: 5rem;
    border-radius: 20px;
}